.logo {
	display: flex;
	align-items: start;
	column-gap: 0.3125rem;
}
.logo__title {
	display: flex;
	align-items: start;
	font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
	font-weight: 700;
	line-height: 2.25rem;
	color: var(--cadetblue);
}
