.banners {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	width: 100%;
	gap: 2rem 1rem;
	max-height: 1200px;
	overflow: auto;
}
.banners::-webkit-scrollbar {
	width: 0;
}
