.footer {
	margin-top: auto;
	background-color: aliceblue;
	padding: 1rem 1.5rem;
	border-radius: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 400px;
}

.footer p {
	color: var(--darkest);
	transition: color 0.6s ease-in-out;
}
.footer p:hover {
	color: var(--cadetblue);
}
