@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

:root[data-theme='light'] {
	/* Existing variables */
	--color-background: #ffffff;
	--сolor-background-white-ligth: #f2f4f5;
	--color-background-light: #d0e8f3;
	--color-text-primary: rgba(9, 10, 10, 1);
	--color-text-secondary: grey;
	--color-accent: cadetblue;
	--color-categories: #000000;

	/* New accent shades */
	--color-accent-light-bg: #e7e7ff;
	--color-accent-hover: #8b77f1;
	--color-accent-active: #6b4eff;
	--background-gradient: linear-gradient(
		-90deg,
		#c6e8ef 0%,
		#a2e1dc24 30%,
		#7fb8b9 50%,
		#9fc0c3 70%,
		#6aa1a5 100%
	);
}
:root[data-theme='dark'] {
	--color-background: #181a1b; /* основной фон */
	--color-background-light: #23272a; /* светлый фон для карточек/элементов */
	--сolor-background-white-ligth: #3d454b; /* аналог светлого для темной темы */
	--color-text-primary: #f2f4f5; /* основной текст */
	--color-text-secondary: #b0b3b8; /* вторичный текст */
	--color-accent: #8b77f1; /* акцент (можно оставить как есть) */
	--color-categories: #8b77f1;

	--color-accent-light-bg: #282a36; /* акцентный светлый фон */
	--color-accent-hover: #a393fa; /* акцент при наведении */
	--color-accent-active: #6b4eff; /* акцент при клике */
	--background-gradient: linear-gradient(
		-90deg,
		#4b2c82 0%,
		/* насыщенный тёмно-фиолетовый */ #3a1f6b 40%,
		/* глубокий тёмный фиолетовый */ #2e1a47 70%,
		/* очень тёмный фиолетовый */ #1c1030 100%
			/* почти чёрный с фиолетовым оттенком */
	);
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
