@import url('./reset.css');
@import url('./variables.css');

body {
	font-family: 'Playwrite DK Loopet', cursive;
	font-size: 1rem;
	color: var(--darkest);
	background-color: var(--lighter);
	margin: 10px 20px;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.no-select {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
	user-select: none; /* Стандартный синтаксис */
}
